*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* color: white; */
    color: rgb(44, 44, 44);
    
}
#special{
    color: rgb(218, 157, 4);
}
html,body{
    height: 100%;
    width : 100%;
    /* overflow-y: auto; */
    /* background-color: #f2e6e1; */
    background: linear-gradient(#fcd5c4,#f8ede8);
    position: relative;
    /* background-image: url(https://images.unsplash.com/photo-1579543228532-77621eee55a0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTV8fGJhY2tnb3VuZCUyMGltYWdlJTIwaW4lMjB3aGl0ZSUyMGdyaWRzJTIwZnVsbCUyMHNpemV8ZW58MHx8MHx8fDA%3D); */
}
#nav{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vh;
    padding: 8vh 4vw;
}
#nav1 img{
    padding-left: 1vw;
    height: 50%;
    width: 50%;
}
#nav2{
    font-family: 'Caveat', cursive;
    font-size: 2vw;
    display: flex;
    align-items: center;
    gap: 2.8vw;
}
#bigdiv{
    width: 100%;
    height: 100vh;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
#div1{
    width: 30%;
    height: 90vh;
    /* background-color: rgb(20, 224, 44); */
    /* border: 1px solid black; */
}
#div2{
    width: 55%;
    height: 90vh;
    /* background-color: rgb(20, 224, 44);
    border: 1px solid black; */
}
#heading{
    width: 100%;
    height: 20%;
    /* background-color: red; */
}
#heading h4{
    font-family: 'Satisfy', cursive;
    color: rgb(218, 157, 4);
    font-weight: 500;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    font-size: 3.22vw;
}
#box1{
    width: 100%;
    height: 60%;
    display:flex ;
    align-items: center;
    justify-content: center;
}
#box2{
    width: 100%;
    height: 40%;
    display:flex ;
    align-items: center;
    justify-content: center;
}
#box2 h5:hover{
    background-color: rgb(246, 205, 103);
}

#heading h5{
    font-family: 'Poppins', sans-serif;
    padding: 0.3vw 0.7vw;
    border: 1px solid black;
    font-size: 1.3vw;
    text-transform: uppercase;
    border-radius: 3%;
}
#image{
    width: 100%;
    height: 80%;
    background-image: url(https://images.unsplash.com/photo-1603202662706-62ead3176b8f?q=80&w=1938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0vw -6vw;
}
.text{
    width: 100%;
    height: 20%;
    /* background-color: aqua;
    border: 1px solid black; */
}
.t1{
    font-family: 'Poppins', sans-serif;
    padding-top: 1vh;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 0.4vw;
    width: 100%;
    height: 30%;
    font-size: 1.7vw;
    /* background-color: blue;
    border: 1px solid green; */
}
.t2{
    font-family: 'Poppins', sans-serif;
    padding: 0.4vw;
    width: 100%;
    height: 70%;
    font-size: 1.2vw;
    /* background-color: rgb(15, 221, 221);
    border: 1px solid green; */
}
.underline{
    margin: 0vh;
    margin-left: 30vw;
    height: 3px;
    width: 68.9vw;
    background-color: rgb(12, 12, 12);
    border-top: 2px solid rgb(218, 157, 4);
    margin-bottom: 2vh;
}
#ender{
    margin-left: 30vw;
    margin-bottom: 5vh;
    padding-bottom: 0vh;
}
#ender h6{
    font-size: 1.2vw;
}
#tp{
    width: 100%;
    height: 1vh;
    background-color: transparent;
}